<div class="container-fluid mt-5 px-md-5">
  <div class="row justify-content-center">

    <div class="col-md-2 d-flex justify-content-center">
      <div class="sidebar p-3 mt-3 bg-light rounded shadow-sm w-100">
        <h4 class="text-center mb-3">Filtra per</h4>

        <div class="mb-3">
          <label for="dpdPortata" class="form-label fw-bold">🍽 Portata</label>
          <div class="btn-group w-100">
            <button class="btn btn-secondary btn-sm dropdown-toggle w-100" id="dpdPortata" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Seleziona Portata
            </button>
            <ul class="dropdown-menu w-100">
              <li><button class="dropdown-item" (click)="filterByTipo('Antipasto')">Antipasto</button></li>
              <li><button class="dropdown-item" (click)="filterByTipo('Primo')">Primo</button></li>
              <li><button class="dropdown-item" (click)="filterByTipo('Secondo')">Secondo</button></li>
              <li><button class="dropdown-item" (click)="filterByTipo('Dolce')">Dolce</button></li>
            </ul>
          </div>
        </div>

        <div class="mb-3">
          <label for="dpdTempo" class="form-label fw-bold">⏳ Tempo di Preparazione</label>
          <div class="btn-group w-100">
            <button class="btn btn-secondary btn-sm dropdown-toggle w-100" id="dpdTempo" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Seleziona...
            </button>
            <ul class="dropdown-menu w-100">
              <li><button class="dropdown-item" (click)="filterByTempoPreparazione(15)">Max 15 min</button></li>
              <li><button class="dropdown-item" (click)="filterByTempoPreparazione(30)">Max 30 min</button></li>
              <li><button class="dropdown-item" (click)="filterByTempoPreparazione(60)">Max 60 min</button></li>
              <li><button class="dropdown-item" (click)="filterByTempoPreparazione(2000)">Più di 60 min</button></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8 mt-3">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
        <div class="col" *ngFor="let ricetta of ricette">
          <app-card-ricetta [ricetta]="ricetta"></app-card-ricetta>
        </div>
      </div>
    </div>

    <div class="col-md-2 d-flex justify-content-center">
      <div class="sidebar p-3 mt-3 bg-light rounded shadow-sm w-100">
        <h5 class="text-center mb-3">Sono indeciso/a tra...</h5>
      </div>
    </div>
  </div>
</div>
