.sidebar {
  background-color: var(--mute-color);
  border-radius: 30px;
  padding: 20px;
  margin: 0px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.sidebar:hover {
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
}

.g-md-3 {
  gap: 12px;
}
