<div class="container-fluid mt-5 px-md-5">
  <div class="row justify-content-center position-relative">


    <div class="alphabet-scroller-mobile d-md-none mb-3">
      <div class="scrolling-wrapper">
        <a *ngFor="let letter of alphabet"
           href="#"
           (click)="scrollToLetter(letter, $event)"
           [class.active]="letter === activeLetter">
          {{ letter }}
        </a>
      </div>
    </div>



    <div class="col-md-11 mt-3">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-5">
      <div
          class="col"
          *ngFor="let ricetta of ricette"
          [attr.id]="'letter-' + ricetta.nome[0].toUpperCase()"
        >
          <app-card-ricetta [ricetta]="ricetta"></app-card-ricetta>
        </div>
      </div>
    </div>


    <div class="col-md-1 d-none d-md-flex flex-column align-items-center alphabet-scroller">
      <a
        *ngFor="let letter of alphabet"
        href="#"
        (click)="scrollToLetter(letter, $event)"
        [class.active]="letter === activeLetter"
      >
        {{ letter }}
      </a>

    </div>

  </div>
</div>
