#carouselExampleDark {
  margin: 50px auto;
}

.carousel-item {
  justify-content: center;
  align-items: center;
}

.carousel-item img {
  display: block;
  margin: 0 auto;
  width: 70%;
  height: 400px;
  object-fit: cover;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
}

.carousel-control-prev,
.carousel-control-next {
  width: 20%;
}

.carousel-caption {
  bottom: 20px;
}

.carousel-caption {
  color: white;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
  background-color: rgba(0,0,0, 0.7);
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 40%;
  text-align: center;
}

