<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-inner d-flex">
    <div class="carousel-item active" data-bs-interval="4000">
      <img src="assets/carousel-image/carbonara_carousel.jpg" width="700" height="500" class="img-fluid" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>"Ave Cesare! Porta la forchetta, che la carbonara è un impero di gusto!"</h5>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="assets/carousel-image/arancini_carousel.jpg" width="700" height="500" class="img-fluid" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>"Rotondi, croccanti e irresistibili: gli arancini sono le bombe buone che scoppiano in bocca!"</h5>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="assets/carousel-image/caponata_carousel.jpg" width="700" height="500" class="img-fluid" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>"La caponata è come la Sicilia: dolce, salata, e ti conquista al primo morso!"</h5>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="assets/carousel-image/insalatariso_carousel.jpg" width="700" height="500" class="img-fluid" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>"L’insalata di riso non è solo un contorno… è l’unico motivo per amare l’estate!"</h5>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="search-divider"></div>
