<div class="spazio-recensione-container">
  <h2>Recensioni</h2>

  <div *ngIf="recensioni.length === 0">
    <p>Nessuna recensione disponibile per questa ricetta.</p>
  </div>

  <div *ngIf="recensioni.length > 0" class="lista-recensioni">
    <div *ngFor="let r of recensioniMostrate" class="recensione">
      <div class="dettagli-recensione">
        <div>
          <span class="utente">{{ r.utente.email }}</span>
          <div class="cappelli-recensione">
            <ng-container *ngFor="let i of [].constructor(r.voto)">
              <img src="assets/chef-hat.svg" class="cappello pieno" />
            </ng-container>
            <ng-container *ngFor="let i of [].constructor(5 - r.voto)">
              <img src="assets/chef-hat.svg" class="cappello vuoto" />
            </ng-container>
          </div>
        </div>
        <span class="data">{{ r.data_pubblicazione | date: 'dd/MM/yyyy' }}</span>
      </div>



      <p>{{ r.commento }}</p>
    </div>

    <button *ngIf="recensioni.length > 3" (click)="toggleMostraTutte()">
      {{ mostraTutte ? 'Mostra meno' : 'Mostra tutte' }}
    </button>
  </div>

  <hr />

  <h3>Lascia una recensione</h3>

  <div class="cappelli-scelta">
    <img
      *ngFor="let cappello of [1,2,3,4,5]"
      src="assets/chef-hat.svg"
      (click)="setVoto(cappello)"
      (mouseover)="hoverVoto = cappello"
      (mouseleave)="hoverVoto = 0"
      class="cappello"
      [class.pieno]="cappello <= (hoverVoto || nuovaRecensione.voto)"
    />

  </div>


  <textarea [(ngModel)]="nuovaRecensione.commento" placeholder="Scrivi un commento..."></textarea>
  <button (click)="inviaRecensione()">Invia</button>
</div>
<app-banner-avviso
  *ngIf="mostraBanner"
  [messaggio]="messaggioBanner"
  (chiuso)="mostraBanner = false">
</app-banner-avviso>

