.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.carousel-wrapper {
  overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
  width: 100%;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.carousel-wrapper::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.carousel-content {
  display: flex;
  gap: 15px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.btn {
  border-radius: 30px;
  border-color: var(--primary-color);
  color: black;
  font-size: 14px;
  white-space: nowrap;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: var(--primary-color);
  color: white;
  border-color: var(--primary-color);
}

@media (max-width: 768px) {
  .btn {
    padding: 6px 12px;
  }
}

@media (max-width: 576px) {
  .btn {
    padding: 5px;
  }
}
