@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  --primary-color: #f58903;
  --primary-color-hover: #DC7B02;
  --mute-color: #f8f9fa;
}

.navbar .nav-link, a {

  font-family: "Lobster Two", serif;
  font-weight: 400;
  font-style: normal;
}

.lobster-two-bold {
  font-family: "Lobster Two", serif;
  font-weight: 700;
  font-style: normal;
}

.lobster-two-regular-italic {
  font-family: "Lobster Two", serif;
  font-weight: 400;
  font-style: italic;
}

.lobster-two-bold-italic {
  font-family: "Lobster Two", serif;
  font-weight: 700;
  font-style: italic;
}

.btn-clean {
  background: none;
  border: none;
  color: #333;
  font-weight: 600;
  font-size: 1rem;
  padding: 6px 12px;
  transition: color 0.2s ease;
  position: relative;
}

.btn-clean:hover {
  color: var(--primary-color);
}

p, h1, h4, h5, h6, .btn {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
