<app-button-carousel></app-button-carousel>

<div class="container-fluid custom-container px-md-5 py-4 mt-5 mb-5">
  <div class="row align-items-center">
    <div class="col-md-6 d-flex align-items-center justify-content-center">
      <h5 style="color: #cacbcc">Trovate {{numRicetteTrovate}} ricette</h5>
    </div>
    <div class="col-md-6 d-flex align-items-center justify-content-center">
      <a href="#" id="vediMappa" class="btn-custom" (click)="toggleMap($event)">{{ showMap ? 'Nascondi Mappa' : 'Vedi Mappa' }}</a>
    </div>
  </div>
</div>

<div *ngIf="showMap" class="map-container">
  <app-map></app-map>
</div>
