<div class="container-fluid custom-container mt-5 mb-5 py-4 px-md-5">
  <div class="banner-grid">


    <div class="banner-left">
      <h5 class="mb-0" style="color: #cacbcc">Trovate {{ numRicetteTrovate }} ricette</h5>
    </div>


    <div class="banner-center">
      <a id="vediMappa" class="btn-custom" (click)="toggleMap($event)">
        {{ showMap ? 'Nascondi Mappa' : 'Vedi Mappa' }}
      </a>
    </div>


    <div class="banner-right d-flex align-items-center gap-3 justify-content-end">
      <div class="d-flex align-items-center gap-3 button-group-custom">

        <div class="dropdown custom-dropdown" [class.show]="filtraOpen">
          <button class="btn btn-clean" type="button" (click)="toggleFiltraDropdown()" aria-expanded="false">
            <i class="fa-solid fa-filter me-1" style="font-size: 10pt"></i>Filtra
          </button>
          <div class="dropdown-menu filter-dropdown p-3 show" *ngIf="filtraOpen" (click)="$event.stopPropagation()">
            <div class="mb-3">
              <label class="form-label fw-semibold">Portata</label>
              <select class="form-select custom-select"
                      [(ngModel)]="selectedTipo"
                      (change)="onTipoChange()">
                <option selected disabled value="">Seleziona Portata</option>
                <option value="Antipasto">Antipasto</option>
                <option value="Primo">Primo</option>
                <option value="Secondo">Secondo</option>
                <option value="Dolce">Dolce</option>
              </select>
            </div>

            <div class="mb-3">
              <label class="form-label fw-semibold">Tempo di Preparazione</label>
              <select class="form-select custom-select mt-2"
                      [(ngModel)]="selectedTempo"
                      (change)="onTempoChange()">
                <option selected disabled value="0">Seleziona Tempo</option>
                <option [value]="15">Max 15 min</option>
                <option [value]="30">Max 30 min</option>
                <option [value]="60">Max 60 min</option>
                <option [value]="2000">Più di 60 min</option>
              </select>
            </div>

            <div class="text-end mt-3">
              <button class="btn-reset" (click)="resetFiltri()">
                <i class="fas fa-rotate-left me-1"></i> Reset Filtri
              </button>
            </div>

          </div>
        </div>

        <span class="divider">|</span>

        <div class="dropdown custom-dropdown" [class.show]="preferitiOpen">
          <button class="btn btn-clean" type="button" (click)="togglePreferitiDropdown()" aria-expanded="false">
            <i class="fas fa-heart me-1" style="font-size: 10pt"></i> Preferiti
          </button>

          <div class="dropdown-menu p-3 show shopping-list" *ngIf="preferitiOpen" (click)="$event.stopPropagation()">
            <div *ngIf="ricettePreferite.length > 0; else nessunPreferito">
              <ul>
                <li *ngFor="let ricetta of ricettePreferite">
                  <div class="shopping-item-label">
                    <button class="heart-btn" (click)="removePreferito(ricetta.id)">
                      <i class="fas fa-heart" style="font-size: 12pt"></i>
                    </button>
                    <a [routerLink]="['/dettagli', ricetta.id]" class="card-link">
                      {{ ricetta.nome }}
                    </a>
                  </div>
                </li>
              </ul>
            </div>
            <ng-template #nessunPreferito>
              <div class="text-muted">Nessuna ricetta tra i preferiti</div>
            </ng-template>
          </div>


      </div>
    </div>
  </div>
</div>

<div *ngIf="showMap" class="map-container">
  <app-map></app-map>
</div>
