.overlay-login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.overlay-login.active {
  display: flex;
}

.login-header {
  display: flex;
  align-items: center;
}

.login-title {
  align-content: center;
  margin-left: 120px;
}

.btn-close-inline {
  font-size: 40px;
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
  margin-left: 100px;
  margin-bottom: 25px;
  line-height: 1;
}

.btn-close-inline:hover {
  color: #dc3545;
}

.login-box form input {
  border-radius: 6px;
  padding: 10px;
  font-size: 16px;
}

.login-box form label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.login-box form button {
  margin-top: 10px;
}

.login-box {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
  font-weight: bold;
  color: #888;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #ccc;
  margin: 0 10px;
}

.google-login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-bottom: 20px;
}

.google-login-wrapper asl-google-signin-button {
  width: 50px;
  height: 50px;
}

.google-login-text {
  font-size: 18px;
  font-weight: 600;
  color: #0d6efd;
}
