<div class="overlay-login" [ngClass]="{ 'active': visible }">
  <div class="login-box">
    <div class="login-header">
      <h1 class="login-title mb-3">Login</h1>
      <button class="btn-close-inline" (click)="closeLogin()">&times;</button>
    </div>

    <div class="login-text mb-4">
        <p>
          Inserisci <i>nome utente e password</i> se sei già registrato,
          altrimenti <a (click)="vaiARegistrazione()" style="cursor: pointer;">registrati</a>.
        </p>
    </div>
    <form>
      <div class="mb-3 text-start">
        <label for="username" class="form-label">Nome utente</label>
        <input [(ngModel)]="nickname" [ngModelOptions]="{standalone: true}" type="text" id="username"  class="form-control" placeholder="Inserisci il tuo username">
      </div>

      <div class="mb-3 text-start">
        <label for="password" class="form-label">Password</label>
        <input [(ngModel)]="password" [ngModelOptions]="{standalone: true}" type="password" id="password"  class="form-control" placeholder="Inserisci la tua password">
      </div>

      <button type="submit" class="btn btn-primary w-100" (click)="submit()">Accedi</button>

      <div class="separator">
        <span>oppure</span>
      </div>

      <div class="google-login-wrapper">
        <asl-google-signin-button
          shape="circle"
          theme="filled_blue"
          size="large"
          logo_alignment="center"
          (click)="signInWithGoogle()">
        </asl-google-signin-button>
        <span class="google-login-text">Accedi con Google</span>
      </div>
    </form>

    <div *ngIf="erroreLogin" class="alert alert-danger mt-3 text-center">
      Credenziali non valide. Riprova.
    </div>

  </div>

</div>
