<div class="overlay-login" [ngClass]="{ 'active': visible }">
  <div class="login-box">
    <div class="login-header">
      <h1 class="login-title mb-3">Login</h1>
      <button class="btn-close-inline" (click)="closeLogin()">&times;</button>
    </div>

    <div class="login-text mb-4">
        <p>
          Inserisci <i>nome utente e password</i> se sei già registrato,
          altrimenti <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">registrati</a>.
        </p>
    </div>
    <form>
      <div class="mb-3 text-start">
        <label for="username" class="form-label">Nome utente</label>
        <input type="text" id="username" [(ngModel)]="nickname" class="form-control" placeholder="Inserisci il tuo username">
      </div>

      <div class="mb-3 text-start">
        <label for="password" class="form-label">Password</label>
        <input type="password" id="password" [(ngModel)]="password" class="form-control" placeholder="Inserisci la tua password">
      </div>

      <button type="submit" class="btn btn-primary w-100" (click)="submit()">Accedi</button>
    </form>
    <div *ngIf="erroreLogin" class="alert alert-danger mt-3 text-center">
      Credenziali non valide. Riprova.
    </div>
  </div>
</div>
