<footer class="bg-light shadow-sm py-4 mt-5">
  <div class="container-fluid px-md-5">
    <div class="row align-items-center text-center">

      <div class="col-md-4 mb-3 mb-md-0">
        <a class="navbar-brand" href="#">
          <img src="assets/MangiaItalia_logo.png" class="img-fluid w-25" alt="Mangia Italia Logo"/>
        </a>
      </div>

      <div class="col-md-4 mb-3 mb-md-0">
        <ul class="list-unstyled mb-0 d-flex justify-content-center">
          <li class="px-3"><a href="#" class="footer-link">Chi siamo</a></li>
          <li class="px-3"><a href="#" class="footer-link">Contatti</a></li>
          <li class="px-3"><a href="#" class="footer-link">Privacy Policy</a></li>
        </ul>
      </div>

      <div class="col-md-4">
        <div class="d-flex justify-content-center">
          <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
        </div>
      </div>

    </div>
    <div class="text-center mt-3">
      <small class="text-muted">&copy; 2024 Mangia Italia. Tutti i diritti riservati.</small>
    </div>
  </div>
</footer>

