.proceeding-section {
  margin-top: 2rem;
  padding: 1rem;
  background-color: #f9f9f9;
  border-radius: 12px;
}
.step {
  margin-bottom: 1.5rem;
}
.step h3 {
  color: #d35400;
  margin-bottom: 0.3rem;
}
.step p {
  font-size: 1rem;
  line-height: 1.6;
}
.badge-regione {
  background-color: silver; /* grigio semitrasparente */
  color: white;
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 500;
  backdrop-filter: blur(4px); /* effetto vetro opaco */
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 9px;
}
